
.basket{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 48rem;
}
.basket__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.basket__heading p, .basket__heading h3{
    
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */;
}

.basket button{
    margin: auto;
    background-color: #f56565; 
    color: white;
    font-size: 1rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 400; /* medium */
    border: none;
    padding: 0.5rem;
    border-radius: 30px;
}