.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}
.nav__a{
    color: var(--text-color)
}
.heading1 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}

.notification{
    background-color: #f56565; 
    color: white;
    border: none;
    border-radius: 100%;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.75rem;
    vertical-align: top; /*note for superscript effect */
}